.galery{
    position: absolute;
    width: 675px;
    height: 717px;
    left: 33px;
    top: 233px;
    background: linear-gradient(260.35deg, rgba(0, 0, 0, 0) 5.09%, rgba(0, 0, 0, 0.42) 92.75%);
    border-radius: 103px;
    overflow: hidden;
}
